<div id="esp-charts-container"> 
    

    <div class="esp-charts__checkbox--update">
          <input type="checkbox" id="esp-charts-checkbox-update" />Tự cập nhật mỗi 5 giây
    </div>

    <div id="sensor-toggles">
        <label><input type="checkbox" class="sensor-toggle" value="temperature" checked> Nhiệt độ</label>
        <label><input type="checkbox" class="sensor-toggle" value="sound" checked> Âm thanh</label>
        <label><input type="checkbox" class="sensor-toggle" value="vibration" checked> Rung</label>
    </div>
    
    <div class="esp-detail__tabs--buttons">
        <button class="esp-detail__tabs--buttons--24h" id="esp-detail-tabs-buttons-24h">24 giờ</button>
        <button class="esp-detail__tabs--buttons--7day" id="esp-detail-tabs-buttons-7day">7 ngày</button>
        <button class="esp-detail__tabs--buttons--30day" id="esp-detail-tabs-buttons-30day">30 ngày</button>
        
        <div class="esp-detail__tabs--buttons--option">
            <span class="esp-detail__tabs--buttons--option--title">Tùy chỉnh</span>
            <input type="datetime-local" id="esp-detail-tabs-buttons-option-start-date">
            <input type="datetime-local" id="esp-detail-tabs-buttons-option-end-date">
            <button id="esp-detail-tabs-buttons-option">Áp dụng</button>
        </div>
    </div>


    <div id="esp-charts-wrapper"> 
        <canvas id="esp-charts"> placeholder  </canvas>
    </div>
        
</div>