
{% load static %}

<div class="detail-content-main">

    <div class="detail-content-main-info"> 

        <div id="raspi-info-container">
            {% include 'iot_app/partials/pi_view/raspi_info_partial.html' %}
        </div>
       
    </div>


     <div class="raspi-detail__tabs" id="raspi-detail-tabs">
        
        <ul>
            <li><a href="#raspi-detail-tabs-chart">Hiệu suất</a></li>
            <li><a href="#raspi-detail-tabs-control">Điều khiển</a></li>
            <li><a href="#raspi-detail-tabs-ssh">SSH</a></li>
        </ul>
        
          <!-- Nội dung của từng Tab -->
        <div id="raspi-detail-tabs-chart">
             {% include "iot_app/partials/pi_view/raspi_tabs_chart.html" %} 
        </div>

         <div id="raspi-detail-tabs-control">
            {% include "iot_app/partials/pi_view/raspi_tabs_control.html" %} 
        </div>

        <div id="raspi-detail-tabs-ssh">
            {% include "iot_app/partials/pi_view/raspi_tabs_ssh.html" %} 
        </div>
        
    </div>

</div>



